html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  background-color: #FFFFFF;
  color: #282B22;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-family: Lato, system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu", "Cantarell", "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 120%;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  opacity: 0;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}

h2 {
  opacity: 0;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  font-family: Raleway, system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu", "Cantarell", "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 46px;
  line-height: 125%;
  color: #282B22;
}

h3 {
  font-family: Raleway, system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu", "Cantarell", "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 130%;
  color: #282B22;
}

h4 {
  font-family: Raleway, system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu", "Cantarell", "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 130%;
  color: #282B22;
}

h5 {
  font-family: Raleway, system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu", "Cantarell", "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  color: #282B22;
}

.h5_m {
  font-family: Raleway, system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu", "Cantarell", "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  color: #282B22;
}

p {
  font-family: Raleway, system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu", "Cantarell", "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #282B22;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  overflow: hidden;
}
main section {
  margin-bottom: 140px;
}

.container {
  width: 100%;
  max-width: 1250px;
  padding: 0 25px;
  margin: 0 auto;
}

.site-button {
  border: none;
  -webkit-box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.05);
  background: #AE7B3C;
  padding: 22px 15px;
  width: 260px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-family: Raleway, system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu", "Cantarell", "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  color: #FFFFFF;
}
.site-button:hover {
  background: #CC9654;
}

.header {
  height: 93px;
}

.header__container {
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__nav li {
  margin-right: 40px;
}
.header__nav li a {
  font-family: Raleway, system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu", "Cantarell", "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #282B22;
}
.header__nav li a:hover {
  color: #AE7B3C;
}
.header__nav li:last-child {
  margin-right: 0;
}

.contact__social {
  margin-right: 48px;
}
.contact__social a {
  margin-right: 15px;
}
.contact__social svg:hover path {
  fill: #282B22;
}

.contact__phone img {
  margin-right: 7px;
}
.contact__phone span {
  font-family: Lato, system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu", "Cantarell", "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  color: #282B22;
}
.contact__phone a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.burger {
  display: none;
  position: relative;
  width: 26px;
  height: 20px;
}
.burger span {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #282B22;
}
.burger .burger-line_first {
  top: 0;
}
.burger .burger-line_second {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.burger .burger-line_third {
  bottom: 0;
}

.burger__nav-mobile {
  display: none;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro__swiper {
  height: 683px;
}

.intro__slide {
  position: relative;
}
.intro__slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.intro__slide .owerlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-13.19%, rgba(0, 0, 0, 0.2)), color-stop(94.01%, rgba(0, 0, 0, 0.85)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) -13.19%, rgba(0, 0, 0, 0.85) 94.01%);
}

.intro__content {
  position: absolute;
  width: 100%;
  max-width: 540px;
  top: 120px;
  left: 50%;
  z-index: 1;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.intro__content h1 {
  margin-bottom: 20px;
}
.intro__content p {
  color: #FFFFFF;
  text-align: center;
}
.intro__content .site-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px auto 0;
}

.intro__content-first {
  max-width: 850px;
}
.intro__content-first p {
  max-width: 640px;
  margin: 0 auto;
}

.intro__swiper-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  max-width: 1250px;
  margin: 0 25px;
  height: 102px;
  border-top: 1px solid #FFFFFF;
  z-index: 2;
}

.intro__button-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.intro__button-wrap .intro__button-prev {
  margin-right: 25px;
}

.swiper-pagination-bullet {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
  height: 32px;
  color: #FFFFFF;
  background: none;
  border: 1px solid #FFFFFF;
}
.swiper-pagination-bullet:last-child {
  margin-right: 0;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 0 0 15px;
}

.intro__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.intro__button {
  cursor: pointer;
}
.intro__button svg:hover path {
  fill: #AE7B3C;
}

.direction h2 {
  text-align: center;
  margin-bottom: 80px;
  text-transform: uppercase;
}

.direction__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (2fr)[3];
  grid-template-columns: repeat(3, 2fr);
}

.direction__card {
  border-left: 1px solid rgba(0, 0, 0, 0.1803921569);
  padding: 0 30px;
}
.direction__card span {
  display: block;
  margin-bottom: 60px;
  opacity: 0.5;
  font-family: Raleway, system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu", "Cantarell", "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  color: #282B22;
}
.direction__card h5 {
  margin-bottom: 30px;
  color: #3D4A39;
}
.direction__card img {
  height: 320px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.direction__card:last-child {
  border-right: 1px solid rgba(0, 0, 0, 0.1803921569);
}

.products {
  background-color: #3D4A39;
  padding: 100px 0;
}
.products h2 {
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 70px;
}

.products__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 55px 2fr 55px 2fr;
  grid-template-columns: repeat(3, 2fr);
  gap: 70px 55px;
}

.products__card {
  text-align: center;
}
.products__card h5 {
  color: #FFFFFF;
  opacity: 0.5;
  margin-top: 30px;
}
.products__card img {
  height: 69px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.about__container {
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1803921569);
}
.about__container h3 {
  text-align: center;
  max-width: 815px;
  margin: 0 auto 80px;
}

.about__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 120px 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 120px;
  max-width: 926px;
  margin: 0 auto;
  border-top: 1px solid rgba(0, 0, 0, 0.1803921569);
  padding: 35px 0;
  position: relative;
}
.about__cards::before {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.1803921569);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.about__card {
  position: relative;
  padding-left: 33px;
}

.card__radio {
  position: absolute;
  top: 5px;
  left: 0;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  border: 1px solid #AE7B3C;
  padding: 6px;
}
.card__radio span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #AE7B3C;
}

.benefits__container h2 {
  margin-bottom: 80px;
  text-align: center;
  text-transform: uppercase;
}

.benefits__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.benefits__card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 80px 1fr;
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 80px;
     -moz-column-gap: 80px;
          column-gap: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.1803921569);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1803921569);
}
.benefits__card:hover h4 {
  color: #AE7B3C;
}
.benefits__card:hover h5 {
  color: #AE7B3C;
  opacity: 1;
}
.benefits__card:hover img {
  opacity: 1;
}
.benefits__card::before {
  content: "";
  width: 1px;
  height: 71.2643678161%;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.1803921569);
}

.benefits__image-wrap h5 {
  opacity: 0.5;
}
.benefits__image-wrap img {
  opacity: 0;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  position: absolute;
  top: -38px;
  left: 144px;
}

.benefits__content {
  padding: 50px 0;
}

.contacts {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  overflow: hidden;
}
.contacts .contacts__text-wrap {
  background-color: #3D4A39;
  height: 100%;
  padding: 100px 20px;
}

.contacts__form {
  max-width: 400px;
  margin: 0 auto;
}
.contacts__form div {
  max-width: 300px;
}
.contacts__form button {
  width: 100%;
  max-width: 300px;
}
.contacts__form input[type=text] {
  width: 100%;
  background-color: #3D4A39;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1411764706);
  margin-bottom: 25px;
  padding-bottom: 10px;
}
.contacts__form input[type=file] {
  display: none;
}

.contacts__pic {
  height: 100%;
}
.contacts__pic img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.userFile {
  margin-bottom: 40px;
  opacity: 0.5;
}
.userFile img {
  margin-right: 10px;
  cursor: pointer;
}
.userFile span {
  color: #FFFFFF;
  cursor: pointer;
}

.contacts__wrap {
  max-width: 400px;
  margin: 0 auto;
}
.contacts__wrap h2 {
  color: #FFFFFF;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.contacts__wrap p {
  max-width: 306px;
  margin-bottom: 40px;
  opacity: 0.8;
  font-family: Raleway, system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu", "Cantarell", "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 145%;
  color: #FFFFFF;
}

.contacts__checkbox-wrap {
  margin-top: 25px;
  position: relative;
  cursor: pointer;
}
.contacts__checkbox-wrap i {
  position: absolute;
  border: 2px solid #FFFFFF;
  padding: 6px;
}
.contacts__checkbox-wrap i span {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 5px;
  height: 5px;
  background-color: #FFFFFF;
}
.contacts__checkbox-wrap i .accept-active {
  display: block;
}
.contacts__checkbox-wrap p {
  color: #FFFFFF;
  padding-left: 25px;
  font-size: 12px;
  line-height: 130%;
}

.steps__container h2 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 80px;
}

.steps__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 80px 1fr 80px 1fr 80px 1fr;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px 80px;
  counter-reset: step;
  padding-bottom: 97px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.34);
}

.steps__card {
  position: relative;
  padding-top: 95px;
}
.steps__card::before {
  position: absolute;
  top: 0;
  left: 0;
  counter-increment: step;
  content: "0" counter(step);
  padding: 18px;
  border: 1px solid rgba(0, 0, 0, 0.34);
  border-radius: 50%;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
}
.steps__card h6 {
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  margin-bottom: 15px;
}
.steps__card p {
  font-size: 16px;
  line-height: 145%;
  opacity: 0.8;
}

.work h2 {
  text-align: center;
  margin-bottom: 50px;
}

.work__slide {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
.work__slide .work__slide_shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(61, 74, 57, 0.7)), to(rgba(61, 74, 57, 0.7))), url(interior-poster-mock-up-with-horizontal-empty-wooden-frame-scandinavian-style-3d-rendering.jpg);
  background: linear-gradient(0deg, rgba(61, 74, 57, 0.7), rgba(61, 74, 57, 0.7)), url(interior-poster-mock-up-with-horizontal-empty-wooden-frame-scandinavian-style-3d-rendering.jpg);
}
.work__slide img {
  height: 340px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.work__content {
  display: none;
}

.swiper-slide-active .work__slide_shadow {
  display: none;
}
.swiper-slide-active .work__content {
  display: block;
  margin-top: 30px;
}
.swiper-slide-active .work__content p {
  margin-top: 10px;
  opacity: 0.5;
}

.work__button_wrap {
  width: 100%;
  max-width: 880px;
  padding: 0 20px;
  position: absolute;
  top: 35%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.work__button {
  z-index: 3;
  background-color: #FFFFFF;
  border-radius: 50%;
  padding: 20px;
}
.work__button:hover {
  background-color: #AE7B3C;
}
.work__button:hover svg path {
  fill: #FFFFFF;
}

.work__pagination {
  display: none;
}

.footer__inform {
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.footer__inform::after {
  content: "";
  position: absolute;
  bottom: -100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 1px;
  background-color: black;
  opacity: 0.2;
  width: 98vw;
}

.footer__menu {
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 86px;
     -moz-column-gap: 86px;
          column-gap: 86px;
}
.footer__menu li {
  margin-bottom: 30px;
}
.footer__menu li:hover {
  color: #AE7B3C;
}

.footer__logo img {
  margin-bottom: 27px;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__social span {
  opacity: 0.5;
  margin-right: 12px;
  font-family: Raleway, system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu", "Cantarell", "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: #282B22;
}
.footer__social a {
  margin-right: 7px;
}
.footer__social a svg:hover path {
  fill: #282B22;
}

.footer__column:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.footer__column:last-child a {
  margin-bottom: 30px;
}

.footer__brands {
  padding-top: 40px;
}
.footer__brands p {
  font-family: Raleway, system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu", "Cantarell", "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  color: #282B22;
}

.footer__brands_wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 38px 1fr 38px 1fr 38px 1fr 38px 1fr 38px 1fr 38px 1fr 38px 1fr 38px 1fr;
  grid-template-columns: repeat(9, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  gap: 38px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.34);
  padding: 38px 0;
}

.footer__copyright {
  padding: 20px 0 40px 0;
}
.footer__copyright p {
  opacity: 0.5;
  font-family: Raleway, system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu", "Cantarell", "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: #282B22;
}

@media screen and (max-width: 1400px) {
  .header__nav li {
    margin-right: 30px;
  }

  .intro__swiper-nav {
    margin: 0 auto;
    width: 95%;
  }

  .intro__content-first h1 {
    max-width: 750px;
    margin: 0 auto 20px;
  }
  .intro__content-first p {
    max-width: 510px;
    opacity: 0.8;
  }

  .about__container {
    border-bottom: none;
  }
  .about__container img {
    display: none;
  }
  .about__container .about__cards {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1803921569);
  }
}
@media screen and (max-width: 1100px) {
  .steps__cards {
    -ms-grid-columns: 240px 140px 240px;
    grid-template-columns: repeat(2, 240px);
    gap: 60px 140px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .direction__cards {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }

  .benefits__image-wrap img {
    left: 84px;
  }

  .footer__brands_wrap {
    -ms-grid-columns: (1fr)[7];
    grid-template-columns: repeat(7, 1fr);
  }
}
@media screen and (max-width: 999px) {
  .header__nav {
    display: none;
  }

  .header__nav-active {
    display: block;
    position: fixed;
    top: 93px;
    right: 0;
    z-index: 3;
    background-color: #FFFFFF;
    width: 50%;
    height: 100%;
    padding: 30px 0;
  }
  .header__nav-active ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header__nav-active li {
    margin: 25px;
  }

  .burger {
    display: block;
  }

  .burger-active span {
    top: 50%;
    left: 50%;
    -webkit-transition: 0.3s linear;
    transition: 0.3s linear;
  }
  .burger-active .burger-line_first {
    top: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
            transform: translate(-50%, -50%) rotate(-45deg);
  }
  .burger-active .burger-line_second {
    display: none;
  }
  .burger-active .burger-line_third {
    bottom: unset;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
  }

  .direction__cards {
    -ms-grid-columns: (2fr)[2];
    grid-template-columns: repeat(2, 2fr);
    grid-row-gap: 60px;
  }

  .benefits__image-wrap img {
    top: 5px;
    width: 280px;
  }

  .footer__inform {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__column {
    margin-right: 20px;
  }
  .footer__column:last-child {
    margin-right: 0;
  }

  .footer__menu {
    -webkit-column-gap: 25px;
       -moz-column-gap: 25px;
            column-gap: 25px;
  }
}
@media screen and (max-width: 799px) {
  main section {
    margin-bottom: 100px;
  }

  h2 {
    font-size: 36px;
  }

  .intro__slide img {
    -o-object-position: 70%;
       object-position: 70%;
  }
  .intro__slide img:nth-child(2) {
    -o-object-position: left;
       object-position: left;
  }

  .intro__content-first {
    max-width: 500px;
    top: 74px;
  }

  .direction__card:nth-child(1) {
    padding: 0 20px;
  }

  .direction__card:nth-child(2) {
    padding: 0 0 0 20px;
  }

  .direction__card:nth-child(3) {
    padding: 0 20px;
    border-right: none;
  }

  .products__card h5 {
    font-size: 18px;
  }

  .about h3 {
    font-size: 28px;
  }
  .about p {
    font-size: 16px;
    line-height: 22px;
  }

  .benefits__content h4 {
    font-size: 28px;
  }
  .benefits__content p {
    font-family: Raleway, system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu", "Cantarell", "Noto Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 135%;
    color: #282B22;
  }

  .benefits__card:first-child img {
    top: 10px;
  }

  .benefits__image-wrap img {
    width: 244px;
    top: 25px;
    left: 50px;
  }

  .contacts__pic img {
    -o-object-position: left;
       object-position: left;
  }

  .steps__cards {
    gap: 60px;
  }

  .work__button_wrap {
    max-width: 630px;
  }

  .footer > .container {
    padding: 0 15px;
  }

  .footer__column:nth-child(2) {
    margin-right: 0;
  }

  .footer__column:last-child {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 60px;
  }
  .footer__column:last-child a {
    margin-bottom: 0;
  }

  .footer__brands_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (max-width: 599px) {
  main section {
    margin-bottom: 80px;
  }

  .header__contacts {
    display: none;
  }

  .header__nav-active {
    width: 100%;
  }

  .burger__nav-mobile {
    display: block;
    margin: 15px 25px 0 25px;
  }
  .burger__nav-mobile .contact__social {
    margin-bottom: 100px;
  }
  .burger__nav-mobile .contact__phone {
    margin-bottom: 30px;
  }

  .intro__content {
    padding: 0 12px;
    max-width: 300px;
  }
  .intro__content h1 {
    font-size: 28px;
  }
  .intro__content p {
    font-size: 16px;
    line-height: 145%;
    opacity: 0.8;
  }

  .intro__button-wrap {
    display: none;
  }

  .intro__pagination {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .direction .container {
    padding: 0 10px;
  }

  .direction__cards {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
  .direction__cards .direction__card {
    border-left: none;
    padding: 0;
  }
  .direction__cards .direction__card h5 {
    font-family: Raleway, system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu", "Cantarell", "Noto Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 145%;
    color: #282B22;
  }
  .direction__cards .direction__card span {
    margin-bottom: 20px;
  }

  .products__cards {
    -ms-grid-columns: 1fr 55px 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 55px;
  }

  .about h3 {
    font-size: 20px;
  }

  .about__cards {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    border-top: none;
    padding: 0;
  }
  .about__cards::before {
    content: none;
  }

  .about__card:first-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1803921569);
    border-top: 1px solid rgba(0, 0, 0, 0.1803921569);
  }

  .about__card {
    padding: 30px 0 30px 33px;
  }
  .about__card i {
    top: 30px;
  }

  .benefits__card {
    -ms-grid-columns: 0.1fr 15px 1fr;
    grid-template-columns: 0.1fr 1fr;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
  }
  .benefits__card::before {
    content: none;
  }
  .benefits__card .benefits__image-wrap {
    padding: 50px 0;
  }
  .benefits__card .benefits__image-wrap img {
    display: none;
  }

  .contacts {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
  .contacts .contacts__text-wrap {
    padding: 60px 10px;
  }

  .contacts__pic img {
    height: 360px;
    -o-object-position: center;
       object-position: center;
  }

  .steps h2 {
    font-size: 24px;
  }

  .steps__cards {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }

  .work__button {
    display: none;
  }

  .work__slide img {
    height: 220px;
    width: 95%;
    padding: 10px;
  }

  .work__content {
    padding-left: 10px;
  }

  .work__slide_shadow {
    display: none;
  }

  .work__pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 100px;
    margin-top: 30px;
    padding: 0 10px;
  }
  .work__pagination .work__pagination_bullet {
    display: inline;
    background-color: rgba(40, 43, 34, 0.3607843137);
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }
  .work__pagination .work__pagination_bullet-active {
    background-color: #AE7B3C;
  }

  .footer__inform {
    margin-bottom: 0;
    padding-bottom: 50px;
    border-bottom: 1px solid rgba(40, 43, 34, 0.3607843137);
  }
  .footer__inform::after {
    content: none;
  }

  .footer__column:first-child {
    margin-bottom: 50px;
  }

  .footer__column:last-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .footer__column:last-child a {
    margin-bottom: 25px;
  }

  .form_pop_wrap {
    width: 320px;
    padding: 60px 10px;
    height: 620px;
  }

  .form__closed {
    right: 0;
  }
}
.js-scroll_container {
  position: absolute;
  width: 160px;
  overflow: hidden;
}
.js-scroll_container:nth-child(1) {
  top: -40px;
  left: -80px;
}
.js-scroll_container:nth-child(1) .js-scroll {
  opacity: 0;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
  -webkit-transform: translateX(-200px);
          transform: translateX(-200px);
}
.js-scroll_container:nth-child(2) {
  right: -80px;
  bottom: 96px;
}
.js-scroll_container:nth-child(2) .js-scroll {
  opacity: 0;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
  -webkit-transform: translateX(200px);
          transform: translateX(200px);
}

.js-scroll_active:nth-child(1) {
  top: -40px;
  left: -80px;
}
.js-scroll_active:nth-child(1) .js-scroll {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.js-scroll_active:nth-child(2) {
  right: -80px;
  bottom: 96px;
}
.js-scroll_active:nth-child(2) .js-scroll {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.title_active {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.form_pop {
  opacity: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 5;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.form_pop-active {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.form_pop_wrap {
  position: fixed;
  width: 460px;
  background-color: #3D4A39;
  padding: 60px;
  z-index: 6;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.form_pop_wrap h4 {
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 25px;
}
.form_pop_wrap p {
  text-align: center;
  font-family: Raleway, system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu", "Cantarell", "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 145%;
  color: #FFFFFF;
}
.form_pop_wrap form {
  margin-top: 45px;
}
.form_pop_wrap textarea {
  width: 100%;
  background-color: #3D4A39;
  border: none;
  padding-bottom: 60px;
  margin-bottom: 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1411764706);
}
.form_pop_wrap .contacts__checkbox-wrap p {
  font-size: 12px;
  line-height: 130%;
  padding-left: 0;
}

.form__closed {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 0;
  right: -50px;
  padding: 6px;
  z-index: 6;
  cursor: pointer;
}

.form__closed_line {
  position: absolute;
  width: 2px;
  height: 23.33px;
  top: 50%;
  left: 50%;
  background-color: #FFFFFF;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.form__closed_line-first {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.form__closed_line-second {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}